@charset "utf-8";
p{
	color:  white;
	font-family: Monaco, monospace;
	font-size: 21px;
	line-height: 23px;
	width: 1500px;
	padding: 5px;
}
h1,h2{
	font-family: Garamond, Georgia, serif;
	color: dargray;
	text-align: center;
}
h3{
	font-family: Garamond, Georgia, serif;
	color: dargray;
	padding: 5px;
}
.maslinasta{
	background-color: rgb(128, 128, 0, 0.75);
}
a:link{
	color: black;
	padding: 5px;
	line-height: 35px;
}
a:hover{
	color: yellow;
	background-color:	#808000;
	opacity: 0.75;
}
a:visited{
	color: yellow;
	background-color:	#808000;
	opacity: 0.75;
}
